mark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    height: fit-content;
    padding: var(--2xs) var(--xs);
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: var(--text4);
    background: var(--bg2);
    border-radius: var(--xs);

    /* Icons */
    & span {
        color: inherit;
    }

    /* Solo icons */
    &:has(.iconify:only-child) {
        aspect-ratio: 1/1;
    }
}